.page-background{
    background-image: url('https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-title-background{
    text-shadow: black 0.1em 0.1em 0.2em;
    text-rendering: optimizeLegibility;
    background-blend-mode: darken;
}

.page-title{
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.usercard-title{
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.groupcard-title{
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.user-card-background{
    background-color: rgb(190, 232, 247);
    text-shadow: black 0.01em 0.01em 0.01em;
    background-size: cover;
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0.75;
}

.group-card-background{
    background-color: lightgoldenrodyellow;
    text-shadow: black 0.01em 0.01em 0.01em;
    background-size: cover;
    margin-left: 100px;
    margin-right: 100px;
    opacity: 0.75;
}

.loading-background{
    background-image: url('https://cdn.discordapp.com/attachments/1108373856613306458/1120352309189296220/to_the_end_of_the_world.gif');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-shadow: black 0.1em 0.1em 0.2em;
    text-rendering: optimizeLegibility;
    background-blend-mode: darken;
}