/*Add button config*/

.add {
    height: 50px;
    color: white;
    background-color: rgb(5, 113, 255);
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 9px #999;
}

.add:hover{
    background-color: rgb(5, 113, 255);
}

.add:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.iconadd{
    margin-right: 14px;
    height: 30px;
    text-align: left;
    width: 30px;
}

/*Other buttons icon config */
.icon{
    height: 30px;
    width: 30px;
}