/*Add button config*/

.add {
    height: 50px;
    color: white;
    background-color: rgb(5, 113, 255);
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 9px #999;
}

.add:hover{
    background-color: rgb(5, 113, 255);
}

.add:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.iconadd{
    margin-right: 14px;
    height: 30px;
    text-align: left;
    width: 30px;
}

/*Other buttons icon config */
.icon{
    height: 30px;
    width: 30px;
}

.save{
    height: 50px;
    color: white;
    background-color: rgb(2, 204, 2);
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 9px #999;
}

.save:hover{
    background-color: rgb(2, 204, 2);
}

.save:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.cancel{
    height: 50px;
    color: white;
    background-color: red;
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 9px #999;
}

.cancel:hover{
    background-color: red
}

.cancel:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.read{
    height: 30px;
    width: 30px;
    color: green;
}

.write{
    height: 30px;
    width: 30px;
    color: orange;
}

.up{
    height: 30px;
    width: 30px;
    color: green;
}

.up:hover{
    background-color: rgb(172, 241, 172);
}

.up:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.down{
    height: 30px;
    width: 30px;
    color: red;
}

.down:hover{
    background-color: lightcoral;
}

.down:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}