/*Add button config*/

.add {
    height: 50px;
    color: white;
    background-color: rgb(5, 113, 255);
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 9px #999;
}

.add:hover{
    background-color: lightcoral;
}

.add:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.iconadd{
    margin-right: 14px;
    height: 30px;
    text-align: left;
    width: 30px;
}

/*Icon config */
.icon{
    height: 30px;
    width: 30px;
    margin-right: 14px;
}

.read{
    height: 30px;
    width: 30px;
    color: green;
}

.write{
    height: 30px;
    width: 30px;
    color: orangered;
}

/*Save buttons config*/

.save{
    height: 50px;
    color: white;
    background-color: rgb(2, 204, 2);
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 9px #999;
}

.save:hover{
    background-color: rgb(2, 204, 2);
}

.save:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Cancel buttons config*/

.cancel{
    height: 50px;
    color: white;
    background-color: red;
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 9px #999;
}

.cancel:hover{
    background-color: red
}

.cancel:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Up buttons config*/

.up{
    height: 30px;
    width: 30px;
    color: green;
}

.up:hover{
    background-color: rgb(172, 241, 172);
}

.up:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Down buttons config*/

.down{
    height: 30px;
    width: 30px;
    color: red;
}

.down:hover{
    background-color: lightcoral;
}

.down:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Add in search box*/

.addsearch{
    height: 30px;
    width: 30px;
    color: rgb(0, 117, 0);
}

.addsearch:hover{
    background-color: rgb(172, 241, 172);
}

.addsearch:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*Home tab button*/
.hometab{
    border: none;
    outline: none;
    width: 33.333%;
    background-color: greenyellow;
    opacity: 0.65;
    text-shadow: black 0.01em 0.01em 0.01em
}

.hometab:hover{
    background-color: green;
}

.hometab:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/*User tab button*/
.usertab{
    border: none;
    outline: none;
    width: 33.333%;
    background-color: lightcoral;
    opacity: 0.65;
    text-shadow: black 0.01em 0.01em 0.01em
}

.usertab:hover{
    background-color: red;
}

.usertab:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/*Group tab button*/
.grouptab{
    border: none;
    outline: none;
    width: 33.333%;
    background-color: lightblue;
    opacity: 0.65;
    text-shadow: black 0.01em 0.01em 0.01em
}

.grouptab:hover{
    background-color: blue;
}

.grouptab:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

/*On active tab*/
.hometab.active,
.usertab.active,
.grouptab.active {
  background-color: gray;
  
}

/*Result list button*/
.button-with-icon{
    padding: 0;
    border: none;
    background: none;
    background-color: transparent;
    outline: none;
}